<div class="container">
  <div class="columns is-multiline">
{{#each products}}
<div class="card">
<div class="card-image">
  <figure class="image is-4by3 allListingsImg">
    <img src="/upload/view/{{this.dispImg}}">
  </figure>
</div>
<div class="card-content">
  <div class="allListingsName">
    <h1 class="title is-4">{{this.name}}</h1>
  </div>
    {{#if this.rent}}
    <h1 class="title is-6">${{this.price}} /month</h1>
    {{else}}
    <h1 class="title is-6">${{this.price}}</h1>
    {{/if}}
    <p>Posted: {{this.newTime}}</p>
</div>
<footer class="card-footer">
  <a href="/product/{{this._id}}" class="card-footer-item allListings-delete-btn">View</a>
  <a href="/user/editListing/{{this._id}}" class="card-footer-item">Edit</a>
  <a class="card-footer-item allListings-delete-btn">Delete</a>
</footer>
</div>
{{/each}}
  </div>
</div>

<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <!-- Any other Bulma elements you want -->
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>
