<div class="container">
  <div class="columns">
    <div class="column">
      <div id="images">
        <span class="prev-icon icon is-large">
          <i class="fa fa-3x fa-chevron-circle-left"></i>
        </span>

        {{#each product.images}}
          <img class="prod_image" style="display:none" src="/upload/view/{{this}}"/>
        {{/each}}

        <span class="next-icon icon is-large">
          <i class="fa fa-3x fa-chevron-circle-right"></i>
        </span>

    </div>
    </div>

    <div class="column">
      <h1 class="title">{{product.name}}</h1>
      {{#if product.rent}}
        (For Rent)
      {{/if}}

      {{#if product.rent}}
        <h2>${{product.price}} /month</h2>
      {{else}}
        <h2>${{product.price}}</h2>
      {{/if}}

      <p>{{posted_by.displayName}}</p>
      <p id="posted_at">{{product.posted_at}}</p>
      <p>{{product.description}}</p>
    </div>
  </div>
</div>

<script> </script>
