<div class="container">
  <div class="columns">
    <div class="column">
      <div id="images">
        <span class="prev-icon icon is-large">
          <i class="fa fa-3x fa-chevron-circle-left"></i>
        </span>

        {{#each product.images}}
          <img class="prod_image" style="display:none" src="/upload/view/{{this}}"/>
        {{/each}}

        <span class="next-icon icon is-large">
          <i class="fa fa-3x fa-chevron-circle-right"></i>
        </span>

    </div>

    {{#if product.apartment}}
    <h2 class="subtitle">Location:</h2>
    <div id="map"></div>
    <input type="hidden" value="{{product.apartment.location}}" id="location"/>
    <script>
    function initMap() {
      var coords = document.getElementById('location').value.split('(')[1].split(')')[0].split(',');
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 16,
        center: {lat: parseFloat(coords[0]), lng: parseFloat(coords[1])}
      });
      var geocoder = new google.maps.Geocoder();

      var marker = new google.maps.Marker({
        map: map,
        position: {lat: parseFloat(coords[0]), lng: parseFloat(coords[1])}
      });
    }
    </script>
    {{/if}}
    </div>

    <div class="column">
      <h1 class="title">{{product.name}}
           {{#if product.rent}}
              (For Rent)
            {{/if}}</h1>

      {{#if product.rent}}
        <h2>${{product.price}} /month</h2>
      {{else}}
        <h2>${{product.price}}</h2>
      {{/if}}

      <div class="columns">
        <div class="column">
          <p>Posted by: {{product.posted_by.name}}</p>
        </div>

        <div class="column">
          <p id="posted_at">Posted : {{product.newTime}}</p>
        </div>
      </div>

      <h2 class="subtitle">Description:</h2>
      <p>{{product.description}}</p>

      {{#if product.apartment}}
      <h2 class="subtitle">Apartment Details:</h2>
      <table>
        <tr>
          <th>Beds</th>
          <th>Baths</th>
          <th>Area (sqft)</th>
        </tr>
          <td>{{product.apartment.beds}}</td>
          <td>{{product.apartment.bath}}</td>
          <td>{{product.apartment.area}}</td>
        <tr>
        </tr>
      </table>

      <div class="columns">
        <div class="column">
          Air conditioning:
          {{#if product.apartment.ac}}
            <i class="fa fa-check has-text-success"></i>
          {{else}}
          <i class="fa fa-times has-text-danger"></i>
          {{/if}}
        </div>

        <div class="column">
          Parking:
          {{#if product.apartment.parking}}
            <i class="fa fa-check has-text-success"></i>
            {{else}}
            <i class="fa fa-times has-text-danger"></i>
          {{/if}}
        </div>

        <div class="column">
          Pet Friendly:
          {{#if product.apartment.pets}}
            <i class="fa fa-check has-text-success"></i>
            {{else}}
            <i class="fa fa-times has-text-danger"></i>
          {{/if}}
        </div>
      </div>
      {{/if}}

    </div>
  </div>
</div>

<script> </script>
